<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/photo.png"/>
    </div>
    <span class="imas-title">IMS</span>
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <mat-nav-list routerLinkActive="active">
      <a mat-list-item routerLink="/home">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine> Home </h3>
      </a>
      <a mat-list-item routerLink="/users">
        <mat-icon matListIcon>dns</mat-icon>
        <h3 matLine> User </h3>
      </a>
      <a mat-list-item routerLink="/users">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> Team </h3>
      </a>
      <a mat-list-item routerLink="/home">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> Role </h3>
      </a>
    </mat-nav-list>
  </div>
</div>
