<section class="new-user">
  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()">
    <h4>Create new user</h4>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstname">
      <mat-error>This field is required</mat-error>
      <!--<mat-error *ngIf="firstname.hasError('required')">Field must not be empty.</mat-error>-->
      <!--<mat-error *ngIf="!firstname.hasError('required')">First name is invalid.</mat-error>-->
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Last Name"
        formControlName="lastname">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Role" formControlName="userRoleId">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid" style="text-align: center;">Submit</button>
  </form>
</section>
