<mat-toolbar color="primary" class="col-md-12">
  <span>Alosys IMS</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <img src="/assets/img/prof.png" class="img-circle" alt="User Image">
  <div style="margin-right: -45px; margin-bottom: 20px;">
    <a routerLink="/login">Change Password</a>
  </div>
  <div style="margin-top: 30px;">
    <a *ngIf="authService.isAuthenticated()" routerLink="/login" (click)="logout()">Signout</a>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/login" (click)="login()">Login</a>
  </div>
</mat-toolbar>
