<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="signup-form">
          <form
            #f="ngForm"
            (ngSubmit)="onSubmit(f)">
            <div class="alosys-logo">
              <img src="/assets/img/photo.png"/>
            </div>
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="Your email"
                ngModel
                name="email"
                email
                required
                disabled
                [(ngModel)]='_email'
                #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                ngModel
                name="username"
                required
                #usernameInput="ngModel">
              <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!usernameInput.hasError('required')">Username is invalid.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field hintLabel="Should be at least 6 characters long.">
              <input
                type="password"
                matInput
                placeholder="Your password"
                ngModel
                name="password"
                required
                minlength="6"
                #pwInput="ngModel">
              <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
              <mat-error>Has to be at least 6 characters long.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field hintLabel="Should be at least 6 characters long.">
              <input
                type="text"
                matInput
                placeholder="Activation Key"
                ngModel
                name="activationKey"
                required
                disabled
                [(ngModel)]='_activationKey'
                #akInput="ngModel">
              <!--<mat-error *ngIf="!akInput.hasError('required')">Activation Key is invalid.</mat-error>-->
            </mat-form-field>
            <br>
            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" style="text-align: center;">Complete Registration</button>
          </form>
        </section>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
