<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <section class="edit-user">
        <app-upload-image></app-upload-image>
        <form
          class="userForm"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)">
          <h4>Create new user</h4>
              <!--<input-->
                <!--type="file"-->
                <!--ngModel-->
                <!--name="image">-->
              <!--<br>-->
              <!--<br>-->
              <!--<button type="button" mat-raised-button color="primary" style="text-align: center;">Upload</button>-->
          <div>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="First Name"
                ngModel
                name="firstname"
                required
                [(ngModel)]="user_firstname"
                #lastnameInput="ngModel">
              <mat-error *ngIf="lastnameInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!lastnameInput.hasError('required')">First name is invalid.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Last Name"
                ngModel
                name="lastname"
                required
                [(ngModel)]="user_lastname"
                #lastnameInput="ngModel">
              <mat-error *ngIf="lastnameInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!lastnameInput.hasError('required')">Last name is invalid.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                ngModel
                name="username"
                required
                [(ngModel)]='user_username'
                #usernameInput="ngModel">
              <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!usernameInput.hasError('required')">Username is invalid.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input
                type="email"
                matInput
                placeholder="Your email"
                ngModel
                name="email"
                email
                required
                [(ngModel)]='user_email'
                #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" style="text-align: center;">Submit</button>
          </div>
        </form>
      </section>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
